@tailwind base;
@tailwind components;
@tailwind utilities;

.card-container {
  perspective: 500px;
  position: relative;
  padding: 10px;
}

.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container .card-inner {
  transform: rotateY(180deg);
  transition-duration: 1s;
}

.card-front,
.card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.voting-floater {
  position: fixed;
  bottom: 0px;
  width: calc(100% - 40px);
  left: 20px;
}

.logo {
  position: relative;
  margin-top: 10px;
}

.logo > span:nth-child(1) {
  font-size: 1rem;
  position: absolute;
  top: -18px;
  left: 0px;
  color: #75e6a4;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: wavy;
  letter-spacing: 1.8rem;
}

.logo > span:nth-child(2) {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

@media only screen and (min-width: 640px) {
  .LandingPageIcon {
    font-size: 25px;
  }
}
